*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 1024px;
    margin: auto;
    padding: 20px;
}

.seccion-productos{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container-tarjetas{
    width: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
}