*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 1024px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction:column;
    gap: 30px;
    align-items: center;
    background-color: #FDF7F4;
}

span{
    color: orange;
}

.seccion-productos{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container-tarjetas{
    width: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    place-items: center;
}

.seccion-cart{
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.cart{
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.figure-cart-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 1024px){
    body{
        flex-direction: row;
        align-items: start;
    }

    .seccion-cart{
        width: 50%;
        margin-top: 50px;
    }
}