<style>
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    figure{
        background-color: #F8FAFC;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    img{
        width: 100%;
        border-radius: 20px;
    }

    article{
        padding: 10px 20px 20px 20px;
        width: 100%;
    }

    p{
        color: orange;
    }

    input{
        padding: 10px;
        border-radius: 20px;
        border: 1px solid gray;
        width: 100%;
    }
    
</style>

<figure>
    <img src="#" alt="imagen-producto">
    <article>
        <h3>Titulo</h3>
        <p>Precio</p>
        <input type="number" id="numero-producto" min="0" placeholder="add to cart">
    </article>
</figure>